<!DOCTYPE html>
<html>
  <head>
    <title> Real Time ASL</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>

    <div class="sidebar">
      <a href="#">Sign In</a>
      <a href="#">Learn about ASL</a>
      <a href="#">View History</a>
      <a href="#">Settings</a>
      <a href="#">Contact Us</a> 
    </div>
    
  
    <div id="container">
      
      <div id="banner">
        Sign Language Translation App
      </div>
      
      <div id= "video_feed">
        <img src="{{ url_for('video_feed') }}">
      </div>

      <div id="option_list">
        <button class="language-button">English</button>
        <button class="language-button">Spanish</button>
        <button class="language-button">French</button>
        <button class="language-button">German</button>
      </div>
      
    </div>

  </body>
</html>
